*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.scrolled{
    
    background: #ffc107;
    border-bottom: 0%;
    /* backdrop-filter: blur(10px) !important; */
    width: 50%; 
    transition: .3s ease-out !important;
}

/* ---------------------------- HOME SECTION ---------------------------- */



.home-content{
    background: url("../images/charity-home-image.jpg") rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 97vh;
    border-radius: 20px;
    background-blend-mode: color-burn;
}

/* ------------------------------ BLOG SECTION --------------------- */


.blog-item img{
    height: 400px;
}

#blog .row{
    scrollbar-width: none;
}

.strategies-item img{
    width: 80px;
}