*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.scrolled{
    
    background: #ffc107;
    border-bottom: 0%;
    /* backdrop-filter: blur(10px) !important; */
    width: 50%; 
    transition: .3s ease-out !important;
}

/* ---------------------------- HOME SECTION ---------------------------- */



.home-content{
    background: url("../images/charity-home-image.jpg") rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 97vh;
    border-radius: 20px;
    background-blend-mode: color-burn;
}

/* A B O U T - U S - S E C T I O N */

  li.timeline-item::before{
    background-color: #ffc107 !important;
  }

  .timeline::after{
    background-color: #ffc107 !important;
  }

  #about-us img{
    object-fit: cover;
    height: 500px !important;
  }

/* A B O U T - U S - S E C T I O N */

/* ------------------------------ BLOG SECTION --------------------- */


.blog-item img{
    height: 350px;
}

#blog .row{
    scrollbar-width: none;
}

.strategies-item img{
    width: 80px;
}